body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  color: #721fe5;
  text-align: center;
  font-size: 24px;
}

h2 {
  color: #5f4035;
  margin-top: 1.5rem;
  text-align: center;
}

ul {
  background-color: #eeaadc;
  padding: 1rem;
  border-radius: 8px;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 40%;
  border-radius: 10px;
  border: 4px solid #e90101;
  margin-top: 16px;
}

img:hover {
  border-color: black;
}

.central {
  text-align: center;
}

@media (max-width: 600px) {
  body {
    padding: 0.5rem;
    font-size: 16px;
  }
}

.moyen {
  font-size: 20px;
  font-weight: bold;
  color: #ee5959;
  text-align: center;
}

.bouton {
  background-color: #a70684;
  padding: 1rem;
  color: #f7f3f3;
  text-decoration: none;
}

.orange {
  background-color: #db7bb8;
  color: #4b4949;
}
h3 {
  text-align
    : center;
  }
.price {
  color: #e11d48; /* rouge par exemple */
  font-weight: bold;
}
.flexbox-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.flexbox-images img {
  width: 100%;
  max-width: 100%;
}
